.shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  transition: all 1s;
}

.modal__content {
  @include flex(column, center, center, no-wrap, 10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $cream;
  opacity: 1;
  z-index: 2;
  padding: 2%;
  max-width: 100%;
  border-radius: 10%;
  min-width: 300px;
  min-height: 200px;
  transition: all 1s;
}

.modal__buttons {
  @include flex($a:stretch, $g: 10px);
  width: 70%;
  height: 30px;
}

.modal__button-confirm {
  @include icon('https://img.icons8.com/ios/256/checked.png', $green, 100px, 30px);
}

.modal__button-cancel {
  @include icon('https://img.icons8.com/ios-filled/256/redo.png', $pink, 100px, 30px);
}

.modal__button-edit {
  @include icon('https://img.icons8.com/ios-glyphs/256/pencil.png', $green, 100px, 30px);
}

.modal__button-remove {
  @include icon('https://img.icons8.com/ios/256/trash.png', $koral, 100px, 30px);
}

