.header {
  @include flex($j: flex-start, $g:15px );
  background-color: $darkgreen;
  color: white;
  height: 7%;
  width: 100%;
  padding: 20px;
}

.header__img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}